@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #000203;
}

body {
  background: var(--primary-color);
  margin: 0;
  font-family: 'poppins';
  color: white;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  width: 100%;
}

header {
  position: absolute;
  background: transparent;
  left: 0;
  width: 100%;
  padding: 2em 0;
  z-index: 99;
}

.inner {
  max-width: 1400px;
  width: 90%;
  margin: auto;
  position: relative;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__el {
  position: relative;
}

.nav-width {
  width: 50%;
}

.logo {
  font-size: 1.2em;
  font-weight: bold;
  background: -webkit-linear-gradient(45deg, #8281fa, #81eef4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.active::before {
  content: ' ';
  position: absolute;
  width: 4em;
  background-image: radial-gradient(closest-side, #81eef4, var(--primary-color));
  z-index: -1;
  height: 0.2em;
  bottom: 0;
  margin-left: -0.3em;
}

.login-btn {
  background-color: #8281fa;
  padding: 0.6em 2em;
  border-radius: 0.5em;
  font-weight: bold;
  display: inline-block;
}

.login-btn:hover {
  background-color: #4e4dc1;
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
}

.hero .left-col {
  width: 100%;
  margin-left: 5em;
}

.hero .left-col .subhead {
  text-transform: uppercase;
  line-height: 2em;
  color: #8c8d8f;
}

.hero .left-col .get-started-btn {
  background-color: #8281fa;
  padding: 0.6em 2em;
  border-radius: 0.5em;
  font-weight: bold;
  display: inline-block;
  margin-top: 2em;
}

.hero .left-col .get-started-btn:hover {
  background-color: #4e4dc1;
  opacity: 1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.hero .purple-overlay {
  background-image: radial-gradient(closest-side, #4a4783, var(--primary-color));
  width: 85%;
  position: absolute;
  right: 1px;
  z-index: 90;
}

.hero .right-col {
  width: 100%;
  position: relative;
  text-align: center;
}

.hero .right-col img {
  width: 70%;
  margin-top: 12em;
}

h1 {
  font-size: 4em;
  margin-top: 3.5em;
}
/*# sourceMappingURL=main.css.map */